{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Stock</th>
                <th>Daily rental rate</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td><a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a></td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.number_in_stock }}</td>
                <td>{{ movie.daily_rental_rate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}