{% extends 'base.html' %}

{% block content %}
<div class="container">
    <p>
        Welcome! Do you want to <a href="{% url 'movies:index' %}">rent movies</a> or just look around?<br/>
        To be honest, this is just a fiddling-around with Django, so <a href="https://gitlab.com/aartdb/herokuflix">you can take a look at the public repo</a> if you're interested. If not, don't take a look 👍<br/>
        You can <a href="/api/movies">take a look at the json api</a> as well!
    </p>
</div>
    <div class="fixed-bottom">
    <div class="container mb-3">
        There's not an awful lot to see here, so maybe just rent some movies?
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'movies:index' %}" class="btn btn-primary d-block">rent movies</a>
            </div>
            <div class="col-sm">
                <a href="/admin" class="btn btn-secondary d-block">or take a look at the admin area</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}